body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.main-header {
    background-color: #0005;
    padding: .8rem 1.6rem;
  }
  
  .main-nav {
    display: inline-block;
    width: calc(100% - 10rem);
    text-align: right;
    font-family: 'Roboto', sans-serif;
  }
  
  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav__item {
    display: inline-block;
    margin: 0 1rem;
    font-size: 20px;
  }
  
  
  .main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
  }
  
  .main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .main-nav__item:last-child {
    display: none;
  }

  .main-nav__item a {
    text-decoration: none;
    color: #ffe100;
    font-weight: 600;
  }
  
  .main-nav__item a:hover, .main-nav__item:hover::before {
    color: red;
  }      
  
  .main-nav__item:active::before, .main-nav__item a:active {
    color: rgb(55, 255, 0);
  }
    
  @media only screen and (max-width: 300px) {
    body {
      overflow-x: hidden !important;
    }
    header main footer {
      max-width: 100% !important;
    }
    
  .main-nav__item {
    display: none;
}

.main-nav__item:last-child {
    display: block;
}

.main-nav__item .fa-bars {
  margin-left: 100px !important;
} 

.responsive .main-nav__item {
    display: block;
    text-align: left;
    margin: 1rem 0;
}

.responsive .main-nav__item:last-child {
    position: absolute;
    right: 40px;
    top: 6px;
    margin-left: 80px;
}

.responsive #main-nav {
    display: block;
}
#showcase #hakkımızda {
  padding-top: 100px;
  text-align: center;
  font-size: 30px !important; 
}
  }  

  @media only screen and (max-width: 483px) {

    #showcase #hakkımızda {
      padding-top: 150px;
      text-align: center;
      color: orange;
      font-size: 45px !important;
      letter-spacing: 2px;
    }  
  }   
  
  @media only screen and (max-width: 991px) {
    .main-nav__item {
        display: none;
    }
  
    .main-nav__item:last-child {
        display: block;
    }
  
    .main-nav__item .fa-bars {
      margin-left: 150px;
    } 
  
    .responsive .main-nav__item {
        display: block;
        text-align: left;
        margin: 1rem 0;
    }
  
    .responsive .main-nav__item:last-child {
        position: absolute;
        right: 40px;
        top: 6px;
        margin-left: 80px;
    }
  
    .responsive #main-nav {
        display: block;
    }
  
  
  }
  

#showcase #hakkımızda {
    text-align: center;
    color: white;
    padding-left: 40px;
    padding-top: 150px;
    font-size: 60px;
    letter-spacing: 2px;
} 

#showcase { 
  background: 
  linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
  url('resim/sebze.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: relative;
}

#marka {
  margin-top: 200px;
}

.hak-sol {
    display: inline-block;
    width: 60%;
    height: 500px;
    text-align: center;
}

.hak-sağ img {
    float: right;
    width: 40%;
    height: 350px;
    border-radius: 20px;
    margin-top: -480px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
    object-fit: cover;
}

#takar {
  margin-top: 200px;
}

.takım {
    padding-left: 280px;
    margin-top: 70px;
    padding-bottom: 100px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

footer {
    background-color: orange;
    height: 400px;
    padding-top: 20px;
}

footer p {
    color: black;
}

footer h6 {
    color: green;
}

.text-white {
    transition: transform .2s;
}

.text-white:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1)
}