body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.main-header {
  background-color: #0005;
  padding: .8rem 1.6rem;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 10rem);
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
  font-size: 20px;
}


.main-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.main-header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav__item:last-child {
  display: none;
}

@media only screen and (max-width: 300px) {
  body {
    overflow-x: hidden !important;
  }
  header main footer {
    max-width: 100% !important;
  }

  .main-nav__item {
      display: none;
  }

  .main-nav__item:last-child {
      display: block;
  }

  .main-nav__item .fa-bars {
    margin-left: 120px;
  } 

  .responsive .main-nav__item {
      display: block;
      text-align: left;
      margin: 1rem 0;
  }

  .responsive .main-nav__item:last-child {
      position: absolute;
      right: 40px;
      top: 6px;
      margin-left: 80px;
  }

  .responsive #main-nav {
      display: block;
  }
  #showcase .taze{
    padding-top: 100px;
    text-align: center;
    color: orange;
    font-size: 15px;
    letter-spacing: 1px;
  }

  #showcase .lezzet{
    font-size: 35px;
    color:white;
    text-align: center;
    padding: 10px;
    font-weight: 400;
  }
  #showcase .meyseb {
    margin-top: 80px;
  }

  section h4 {
    padding-left: 110px;
  }

}

@media only screen and (max-width: 483px) {
  body {
    overflow-x: hidden !important;
  }
  header main footer {
    max-width: 100% !important;
  }
  
  #showcase .taze{
    padding-top: 150px;
    text-align: center;
    color: orange;
    font-size: 20px;
    letter-spacing: 2px;
  }

  #showcase .lezzet{
    font-size: 50px;
    color:white;
    text-align: center;
    padding: 10px;
    font-weight: 500;
  }
  #showcase .meyseb {
    margin-top: 120px;
  }

  #kargo h4 {
    padding-left: 110px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    overflow-x: hidden !important;
  }
  header main footer {
    max-width: 100% !important;
  }
  
  .main-nav__item {
      display: none;
  }

  .main-nav__item:last-child {
      display: block;
  }

  .main-nav__item .fa-bars {
    margin-left: 250px;
  } 

  .responsive .main-nav__item {
      display: block;
      text-align: left;
      margin: 1rem 0;
  }

  .responsive .main-nav__item:last-child {
      position: absolute;
      right: 40px;
      top: 6px;
      margin-left: 80px;
  }

  .responsive #main-nav {
      display: block;
  }


}

.main-nav__item a {
  text-decoration: none;
  color: #ffe100;
  font-weight: 600;
}

.main-nav__item a:hover, .main-nav__item:hover::before {
  color: red;
}      

.main-nav__item:active::before, .main-nav__item a:active {
  color: rgb(55, 255, 0);
}

#showcase { 
  background: 
  linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
  url('resim/meyvesebze.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.taze{
    padding-top: 200px;
    text-align: center;
    color: orange;
    font-size: 30px;
    letter-spacing: 3px;
}

.lezzet{
    font-size: 70px;
    color:white;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}


.ilkdiv {
    display: inline-block;
    background-color: rgb(227, 227, 227);
    width: 100%;
    margin-top: 200px;
}

section h4{
    display: inline-block;
    width: 30%;
    height: 100px;
    padding: 80px;
    padding-left: 180px;
    font-size: 20px;
    font-weight:bold;
}

.urunler{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 200px;
}

.urun img {
    object-fit: cover;
    width: 287px;
    height: 380px;
}

.urun{
    display: inline-block;
    width: 30%;
    margin-left: 80px;
    box-shadow: rgb(31, 244, 27) 0px 2px 4px 0px, rgb(4, 255, 0) 0px 2px 16px 0px;
    transition: transform .2s;
}

.urun:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);

}

.card-1 {
   margin-left: 270px;
}

.card-title {
    text-align: center;
    font-size: 20px;
}

.btn {
    text-align: center;
}

.card-kg {
    text-align: center;
    padding-top: 10px;
    color: gray;
}

.card-tl {
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    font-size: 30px;
}

.musteri {
    padding-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}
.mus {
    display: inline-block;
    width: 30%;
    margin-left: 70px;
    margin-top: 150px;
    box-shadow: rgb(255, 165, 0) 0px 10px 20px, rgb(255, 165, 0) 0px 6px 6px;
    transition: transform .2s;
}

.mus:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1)
}

.mus1, .mus2, .mus3 {
    height: 300px;
}

@media only screen and (max-width: 300px) {
  body {
    overflow-x: hidden !important;
  }
  header main footer {
    max-width: 100% !important;
  }
  
  .urun {
    margin-top: 100px;
    margin-left: 30px !important;
    width: 13rem !important;
  }
  .urun img {
    object-fit: cover;
    width: 207px !important;
    height: 250px !important;
  }
  .musteri span {
    font-size: 30px !important;
    padding-left: 20px !important;
  }  
    .mus {
      width: 300px !important;
      height: 300px;
  
    }
    .mus img {
      width: 300px !important;
      height: 300px !important;
    }
    #urunprf {
      margin-left: 50px !important;
    }
}

@media only screen and (max-width: 483px) {
  body {
    overflow-x: hidden !important;
  }
  header main footer {
    max-width: 100% !important;
  }
  
  .urun {
    margin-top: 100px;
    margin-left: 100px !important;
    width: 16rem !important;
  }
  .urun img {
    object-fit: cover;
    width: 254px !important;
    height: 250px !important;
  }
  .musteri span {
    font-size: 30px !important;
    padding-left: 20px !important;
  }
  .mus {
    width: 250px !important;
    height: 250px;

  }
  .mus img {
    width: 250px !important;
    height: 250px !important;
  }
  #urunprf {
    margin-left: 50px !important;
  }
}

@media only screen and (max-width: 992px) {
  body {
    overflow-x: hidden !important;
  }
  header main footer {
    max-width: 100% !important;
  }
  
  .urun {
    margin-top: 100px;
    margin-left: 100px !important;
    width: 16rem !important;
  }
  .urun img {
    object-fit: cover;
    width: 254px !important;
    height: 250px !important;
  }
  .musteri span {
    font-size: 30px !important;
    padding-left: 20px !important;
  }
  .mus {
    width: 200px !important;
    height: 200px;

  }
  .mus img {
    width: 200px !important;
    height: 200px !important;
  }
  #urunprf {
    margin-left: 30px !important;
  }
}

.hakkimizda-sol img {
    display: inline-block;
    width: 50%;
    height: 400px;
}

.hakkimizda-sağ {
    float: right;
    width: 50%;
    height: 400px;
    background-color: #BAFFB4;
    margin-top: -400px;
    padding-left: 50px;
    padding-top: 30px;
}
 
@media only screen and (max-width: 300px) {
  .hakkimizda-sol img {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
  .hakkimizda-sağ {
    width: 100%;
    position: absolute;
    height: 250px;
    background-color: #BAFFB4;
    margin-top: 1px !important;
    padding: 30px 20px;
    margin-bottom: 100px !important;
    font-size: 10px;
  }

  .hakbtn {
    width: 70px;
    height: 30px;
    margin-top: 15px !important;
    text-align: center;
  }
  
  #photo {
    display: none;
  }
  
  #makbaslik {
    margin-top: 400px !important;
  }
}

.indirim {
    background-color: #FFA500;
    height: 400px;
    width: 100%;
    padding-top: 100px !important;
    margin-bottom: 100px;
}

.buyuk {
    font-size: 50px;
    font-weight: bolder;
    color:black;
    padding-left: 100px;
    display: inline-block;
}

.indir {
    font-size: 50px;
    font-weight: bolder;
    color:green;
    display: inline-block;

}

.fa-lemon {
    color: black;
    font-size: 200px;
    padding-left: 500px;
    display: inline-block;
}

.makale {
    display: block;
    margin-top: 200px;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: black;
  --transition-time: 0.5s;
}
a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.cardo {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 18em;
  width: 13em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid rgb(84, 190, 58);
  text-decoration: none;
}

.cardo:hover {
  transform: rotate(0);
}

.cardo h1 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  color: rgb(255, 0, 0);
}

.cardo p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 1.5em;
}

.cardo .tags {
  display: flex;
  padding-top: 140px;
}

.cardo .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.cardo:hover .tags .tag {
  background: var(--color);
  color: rgb(255, 255, 255);
}

.date {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 0.75em;
  line-height: 1em;
  opacity: .8;
}

.cardo:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.cardo:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.cardo:after {
  background: rgb(201, 241, 193);
  width: 200%;
  height: 200%;
}

.cardo:hover {
  color: var(--color);
}

.cardo:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .cardo {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

.hak {
    background-color: orange !important;
}

footer {
    background-color: orange;
    height: 400px;
    padding-top: 20px;
}

footer p {
    color: black;
}

footer h6 {
    color: green;
}

.text-white {
    transition: transform .2s;
}

.text-white:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1)
}
